<tr>
    <td>Name</td>
    <td>Description</td>
    <td>Slot Spaces Required</td>
    <td>Power Requirement</td>
    <td>Power Production</td>
    <td>Category</td>
    <td>Damage Type</td>
    <td>Damage</td>
    <td>Armor</td>
    <td>Shield</td>
    <td>Speed</td>
    <td>Volley</td>
    <td>Range</td>
    <td>Missile Speed</td>
    <td>Value</td>
    <td>Stealth</td>
    <td>Sensor</td>
    <td>Is Illegal</td>
</tr>
